section{
    display: flex;
    width: 600px;
    height: 430px;
  }
section img{
    /*Estilo a las imagenes*/
    width: 0px;
    flex-grow: 1;
    object-fit: cover; /*Cubre todo el espacio*/
    opacity: .8;/*control de opacidad*/
    transition: .5s ease; /*transicion para la animacion*/
}
section img:hover{
    cursor: crosshair; /*Cambio de cursor por una cruz*/
    width: 300px;
    opacity: 1; /*Devolvemos su opacidad*/
    filter: contrast(120%); /*Subimos su contraste*/
}