.seccion-img{
    display: flex;
    justify-content: center;
    width: 95%;
  }
.seccion-img img{
    /*Estilo a las imagenes*/
    width: 100px;
    flex-grow: 2;
    object-fit: cover; /*Cubre todo el espacio*/
    opacity: .8;/*control de opacidad*/
    transition: .5s ease; /*transicion para la animacion*/
}
.seccion-img img:hover{
    cursor: crosshair; /*Cambio de cursor por una cruz*/
    width: 250px;
    opacity: 1; /*Devolvemos su opacidad*/
    filter: contrast(120%); /*Subimos su contraste*/
}