.search-container {
  display: flex;
  position: sticky;
  top: 10px;    /* distancia desde arriba */
  right: 20px;  /* distancia desde la derecha */
  align-items: center;
  width: 300px;        /* ancho del buscador */
  border: 2px solid #ccc;
  border-radius: 25px;
  padding: 5px 10px;
  background-color: #fff;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
  border-radius: 25px;
}

.search-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px; /* tamaño de la lupa */
  color:rosybrown;
}

.search-btn:hover {
  color: #000;
}

.background-image {
 margin: 0%;
 width: 100%;
 height: 100vh; /*hace que la imagen cubra el 100% de la altura de la pantalla */
 padding: 0%;
 background-image: url('./f2e79378-9951-405b-b275-fdb9598c628b.png');
 background-size: cover; /*asegura que la imagen cubra todo el espacio sin deformarse */
 background-position: center; /* centra la imagen */
 border: none;     /* Elimina cualquier borde */
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Estilos del Header */
.header {
  display: flex;
  justify-content: space-between; /* Espacio entre logo, navegación y CTA */
  align-items: center;
  padding: 10px 20px;
  background-color: #333333; /* Fondo oscuro para el header */
  color: white;
}

.logo a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

/* Estilos del menú de navegación */
.navigation ul {
  list-style-type: none;
  display: flex;
}

.navigation li {
  margin: 0 15px;
}

.navigation a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navigation a:hover {
  color: #ff6f61; /* Color al pasar el mouse */
}

/* Estilos del botón CTA */
.cta .btn {
  text-decoration: none;
  background-color: rosybrown; /* Color del botón */
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.cta .btn:hover {
  background-color: #e14f42; /* Cambio de color al pasar el mouse */
}

button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.1); /* Aumenta ligeramente el tamaño */
}
#root {
  margin: 0;
  padding: 0;   /* quita el padding que causa el borde */
  height: 100%;
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}