/* Contenedor principal */
.section-log {
    background-color: rgba(250, 134, 134, 0.61);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 2rem;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    box-sizing: border-box;
}

/* Título */
.section-log h1 {
    margin-bottom: 1.5rem;
    color: #6a4f4f;
}

/* Input (email y contraseña) */
.email-input, .password-input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: none;
    text-align: center;
    background-color: #f4e1e1; /* RosyBrown claro */
    font-size: 1rem;
}

/* Contenedor del icono para mostrar/ocultar contraseña */
.password-container {
    position: relative;
    width: 100%;
}

/* Icono para mostrar/ocultar la contraseña */
.password-toggle-icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
}

/* Botón de inicio de sesión */
.btn-log {
    padding: 0.8rem;
    background-color: #cd7f7f; /* RosyBrown */
    color: white;
    border-radius: 10%;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.btn-log:hover {
    background-color: #a45d5d; /* RosyBrown oscuro */
}

/* Mensajes de error */
.section-log p {
    color: red;
    font-size: 0.9rem;
    text-align: center;  /* Alinea el texto de los mensajes de error al centro */
    width: 100%;  /* Asegura que el mensaje de error ocupe todo el ancho del contenedor */
    margin-top: 1rem;
}

/* Estilo de enlaces */
.LinksLog {
    text-decoration: none;
    color: white;
    margin: 0.5rem 0;
    font-size: 0.9rem;
}

.LinksLog:hover {
    text-decoration: underline;
}

/* Link de "volver" */
.ultLink {
    margin-top: 1rem;
    color: #6a4f4f;
    font-size: 0.9rem;
}

/* Responsividad */
@media (max-width: 500px) {
    .section-log {
        width: 90%;
    }
    .email-input, .password-input, .btn-log {
        font-size: 0.9rem;
    }
}
