.main-category {
  text-align: center;
}
.categorias-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}
.categoria {
  position: relative;
  text-align: center;
  cursor: pointer;
  border: none;        /* Quita el borde */
  background: none;    /* Quita el fondo */
  overflow: hidden;
  border-radius: 10px;
  display: flex;       /* Para centrar contenido */
  align-items: center; /* Centra vertical */
  justify-content: center; /* Centra horizontal */
  font-weight: bold;   /* Letras gruesas */
  color: white;        /* Color de texto si no tiene background */
}

.categoria span {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;   /* Letras más gruesas */
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 8px 15px;
  border-radius: 20px;
  white-space: nowrap;
  z-index: 1;
  text-align: center;  /* Asegura que el texto esté centrado */
}

.categoria img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  display: block;  /* Relativa implícita */
}
.categoria:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}
.categoria:hover img {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

/* Responsive */
@media (max-width: 768px) {
  .categorias-container {
    grid-template-columns: repeat(2, 1fr);
  }
}