.categoria {
    position: relative;

    display: flex;      /* activa flexbox */
    justify-content: center; /* centra horizontalmente */
    align-items: center;     /* centra verticalmente si querés también */
    text-align: center;

    margin: 10px;
    cursor: pointer;
  }
  
.categoria img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
  
.categoria span {
    position: absolute; /*lo posiciona relativo a su contenedor más cercano */
    width: 100%;
    color: white;
    font-weight: bold; /*poner el texto en negrita*/
    background: rgba(0, 0, 0, 0.4);
}