.categorias-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.categoria {
  position: relative;
  cursor: pointer;
  border: none;
  background: none;
  overflow: hidden;
  border-radius: 12px;
  aspect-ratio: 1 / 1;  /* Cuadrado adaptable */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.categoria img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* Rellena sin deformar */
  transition: transform 0.3s ease;
  image-rendering: auto; /* Suaviza el escalado */
  filter: brightness(0.75); /* Oscurece un poco para que el texto resalte */
}
.categoria:hover {
  transform: scale(1.02);
}
.categoria:hover img {
  transform: scale(1.05);
}

.category-section{
  text-align: center;
  background-color: white;
}

.categoria span {
  position: absolute;
  inset: 0; /* ocupa todo el contenedor */
  bottom: 12px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;  /* Mayúsculas */
  font-size: 1.4rem;        /* Texto grande */
  font-weight: 700;         /* Negrita */
  color: #fff;              /* Blanco puro */
  background: none;         /* Sin fondo de botón */
  pointer-events: none; /* deja clickeable el botón completo */
  border: none;
}

/* Sin aspecto de botón */
.categoria:focus,
.categoria:active {
  outline: none;
  box-shadow: none;
}

/* Responsive */
@media (max-width: 768px) {
  .categorias-container {
    grid-template-columns: repeat(2, 1fr);
  }
}