footer{
    background-color: rosybrown;
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: center;
    gap: 1rem;  
}
li{
    list-style-type: none;
    width: 40px;
}
ul{
    padding-top: 10px; /*Espacio entre las redes y su frase*/
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}
.bloqueDividido{
    display: flex;
    flex-direction: row;
    justify-content:space-around; /*Para que tengan espacio entre ellos*/
    gap: 1rem; /*Distanciamiento*/
}
.iconos img{ /*Aspecto de la imagen de los íconos*/
    width: 100%;
    aspect-ratio: 1/1; /*Mantener proporción cuadrada, lo pensamos como X e Y*/
    object-fit: cover;
    border-radius: 100%;
}
.compañia, .contacto{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
a{
    text-decoration: none;
    color: white;
}
a:hover {
    color: black;
    font-size: 102%;
}


